body {
    font-family: 'Lato', sans-serif;
    width: 90%;
    margin: 0 auto !important;
    max-width: 1400px;
}

a {
    text-decoration: none;
}

header {
    padding: 2rem 0 0rem 0;
    text-align: center;
}

header a.logo {
    display: inline-block;
}

header h1 {
    margin-top: 0;
    color: #D04F4F;
    font-family: 'DM Sans', sans-serif;
}

section {
    padding: 2rem 0;
}

/*******************/
/** SEARCHBAR **/
/*******************/

#searchbar__form {
    display: flex;
    position: relative;
    height: 69px;
}

#searchbar__form i {
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    right: 2rem;
    top: 30%;
    /* transform: translate(50%, -50%); */
}

#searchbar__form__input {
    width: 100%;
    height: 100%;
    background-color: #e7e7e7;
    border: none;
    padding-left: 1.5rem;
    border-radius: 5px;
    font-size: 1.125rem;
    font-weight: 400;
}

/*******************/
/** TAGS **/
/*******************/

.tags {
    padding: 0;
}

.tags__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
}

.tags__list__item {
    list-style-type: none;
}

.tags__list__item__button {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #3282F7;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
}

.tags__list__item__button.ingredients {
    background-color: #3282F7;
}

.tags__list__item__button.appareils {
    background-color: #68D9A4;
}

.tags__list__item__button.ustensils {
    background-color: #D04F4F;
}

.tags__list__item__button .tags__list__item__delete {
    background: none;
    font-weight: 700;
    font-size: 1.25rem;
    border: none;
    padding: 0;
    color: #fff;
    margin-left: 0.5rem;
    cursor: pointer;
}


/*******************/
/** FILTER **/
/*******************/

#filters {
    display: flex;
    flex-wrap: wrap;
}

.filter__custom {
    width: 100%;
    height: 69px;
    border-radius: 5px;
    position: relative;
    color: #fff;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
}

.filter__custom__search {
    width: 100%;
    height: 69px;
    border-radius: 5px;
    position: relative;
}

.filter__custom__search i {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translate(0%, -50%);
}

.filter__custom.ingredients {
    background-color: #3282F7;
}

.filter__custom.appareils {
    background-color: #68D9A4;
}

.filter__custom.ustensils {
    background-color: #ED6454;
}

.filter__custom__search__span {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translate(0%, -50%);
    font-size: 1.125rem;
    font-weight: 700;
}

.filter__custom .hide-search {
    display: none;
}

.filter__custom.ingredients input,
.filter__custom.appareils input,
.filter__custom.ustensils input {
    /* display: none; */
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 69px;
    border: none;
    border-radius: 5px;
    outline: none;
    color: white;
    font-size: 1.25rem;
    box-sizing: border-box;
    padding: 0 1rem;
}

.filter__custom.ingredients input {
    background-color: #3282F7;
}

.filter__custom.appareils input {
    background-color: #68D9A4;
}

.filter__custom.ustensils input {
    background-color: #ED6454;
}

.filter__custom input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.filter__custom__listing {
    display: none;
}

.filter__custom.show-dropdown {
    width: 100%;
    height: auto;
}

.filter__custom.show-dropdown .filter__custom__search i {
    top: 40%;
    transform: rotate(180deg);
    z-index: 2;
}

.filter__custom.show-dropdown .filter__custom__listing {
    display: flex;
    top: 65px;
    width: 100%;
}

.filter__custom.ingredients.show-dropdown .filter__custom__listing {
    background-color: #3282F7;
}

.filter__custom.appareils.show-dropdown .filter__custom__listing {
    background-color: #68D9A4;
}

.filter__custom.ustensils.show-dropdown .filter__custom__listing {
    background-color: #ED6454;
}

.filter__custom__list {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 1rem;
    width: 100%;
}

.filter__custom__list li {
    list-style-type: none;
    padding: 0.5rem;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.filter__custom__list li:hover {
    background-color: rgba(0, 0, 0, 0.10);
}

.filter__custom__list li.hide {
    display: none;
}

/*******************/
/** RECEIPTS **/
/*******************/

.receipts__error {
    display: none;
    border: 1px solid #A60321;
    color: #A60321;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 700;
}

ul.list__receipts {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    justify-content: space-between;
}

ul.list__receipts li.card {
    list-style-type: none;
    width: 100%;
    border-radius: 5px;
    background-color: #e7e7e7;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

ul.list__receipts li.card .card__body {
    padding: 1.5rem;
}

.card__image img {
    width: 100%;
    height: 178px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.card__body__hero {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.card__body__hero__title {
    font-size: 1.125rem;
    font-weight: 400;
}

.card__body__hero__duration {
    text-align: right;
    font-size: 1.125rem;
    font-weight: 700;
}

.card__body__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
}

.card__body__content__ingredients {
    padding: 0;
}

.card__body__content__ingredients li {
    list-style-type: none;
    font-size: 0.75rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.card__body__content__ingredients li span {
    font-weight: 400;
}

.card__body__content__description {
    font-size: 0.875rem;
    /* line-height: 0.875rem; */
    line-height: 1.25rem;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
    height: fit-content;
}

.card__body__content__ustensils {
    display: none;
}


/*******************/
/** RESPONSIVE **/
/*******************/

@media screen and (min-width: 576px) {

    ul.list__receipts {
        grid-template-columns: repeat(auto-fill, 48%);
    }

    ul.list__receipts li.card {
        max-width: 380px;
    }

    #filters {
        flex-wrap: nowrap;
    }

    .filter__custom {
        width: 170px;
        margin-bottom: 0;
    }

    .filter__custom:not(:last-child) {
        margin-right: 1rem;
    }

    .filter__custom.show-dropdown {
        width: 66%;
    }

    .filter__custom.show-dropdown .filter__custom__listing {
        position: absolute;
    }
}

@media screen and (min-width: 1200px) {

    ul.list__receipts {
        grid-template-columns: repeat(auto-fill, 32%);
    }

}